.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

#categorias h2{
    color: var(--cor4);
    margin-top: 50px;
    text-transform: capitalize;
}